

$color-primary: #145DA0;
$color-secondary: #0C2D48;
$color-tertiary: #2E8BC0;
$color-quaternary: #F2F2F2;

$theme-colors: (
        "primary": $color-primary,
        "secondary": $color-secondary,
        "success": $color-primary,
        "info": $color-quaternary,
        "tertiary": $color-tertiary,
        "danger": red,
        "light": #e9ecef,
        "dark": #212529
);

@import "bootstrap/scss/bootstrap.scss";